@font-face
{
	font-weight: normal;
	font-style: normal;
	font-family: 'Executive';

	src: url( '/fonts/Executive-Regular.eot' );
	src: url( '/fonts/Executive-Regular.eot?#iefix' ) format( 'embedded-opentype' ),
	url( '/fonts/Executive-Regular.woff' ) format( 'woff' ),
	url( '/fonts/Executive-Regular.ttf' ) format( 'truetype' );
}

@font-face
{
	font-weight: normal;
	font-style: italic;
	font-family: 'Executive';

	src: url( '/fonts/Executive-Italic.eot' );
	src: url( '/fonts/Executive-Italic.eot?#iefix' ) format( 'embedded-opentype' ),
	url( '/fonts/Executive-Italic.woff' ) format( 'woff' ),
	url( '/fonts/Executive-Italic.ttf' ) format( 'truetype' );
}
