// Colors

$light: #ede9e6;
$dark: #4d4d4d;
$brick: #a66251;
$mint: #90d1be;
$black: #000000;
$white: #ffffff;


// Fonts

$executive-reg: 'Executive';
$header-text: 3.5rem;
$subheader-text: 1.6rem;
$body-text: 1rem;
