.index-project-wrapper .throbber-wrapper
{
	align-items: center;
	align-content: center;
	justify-content: center;

	display: flex;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;

	.ball-pulse-double .loader
	{
		width: 100px;
		height: 100px;
	}
}

.alt-index-project-wrapper .throbber-wrapper
{
	width: 100%;
	height: 100vh;

	.ball-pulse-double .loader
	{
		@include respond-to('small')
		{
			top: 10vh;
			left: 15%;
		}

		width: 100px;
		height: 100px;
	}
}

.project-page-wrapper .throbber-wrapper
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	.ball-pulse-double .loader
	{
		@include respond-to('small')
		{
			left: 20%;
		}

		width: 100px;
		height: 100px;
	}
}

.throbber-wrapper
{
	z-index: 5;
	background: $white;

	.ball-pulse-double .ball-1,
	.ball-pulse-double .ball-2
	{
		opacity: 0.5;
		position: absolute;
		width: 50%;
		height: 50%;
		top: 25%;
		left: 25%;
		border-radius: 50%;
		background-color: $black;

		animation: ballPulseDouble 2s ease-in-out infinite;

		-webkit-animation: ballPulseDouble 2s ease-in-out infinite;
	}
	.ball-pulse-double .ball-2
	{
		animation-delay: -1s;

		-webkit-animation-delay: -1s;
	}
}
@-webkit-keyframes ballPulseDouble
{
	0%,
	100%
	{
		transform: scale(0);

		-webkit-transform: scale(0);
	}
	50%
	{
		transform: scale(1);

		-webkit-transform: scale(1);
	}
}

@keyframes ballPulseDouble
{
	0%,
	100%
	{
		transform: scale(0);

		-webkit-transform: scale(0);
	}
	50%
	{
		transform: scale(1);

		-webkit-transform: scale(1);
	}
}
