menu-directive
{
	font-size: 3rem;
}

.filter-options
{
	flex-flow: row;

	font-size: 2rem;
}

.filter-option
{
	flex-flow: column;

	// &:not(:last-child):after
	// {
	// 	content: ', ';
	// }
}

.option-list
{
	flex-flow: column;

	font-size: 1rem;
}
