menu-directive
{
	@include respond-to( 'small' )
	{
		flex: 0;

		width: auto;
		margin-right: 0;

		font-size: $mobile-menu-text;
	}
	@include respond-to( 'medium' )
	{
		width: auto;
		margin-right: 0;
	}

	width: 300px;
	margin-right: $page-margin;

	font-size: $header-text;
}

.menu-close-button
{
	@include respond-to( 'small' )
	{
		width: 40px;
		height: 40px;
		z-index: 9999;

		&.hidden
		{
			opacity: 1 !important;
		}
	}

	position: fixed;
	cursor: pointer;
	cursor: pointer;
	width: 50px;
	height: 50px;
	top: $page-margin;
	right: $page-margin;
	z-index: 9999;
	background: url('images/trigger.svg') no-repeat center center;

	&.hidden
	{
		opacity: 0;
	}
}

.menu-about-text-wrapper
{
	position: fixed;
	width: 55vw;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 10;

	color: $black;
	font-size: $subheader-text;
	&.make-it-white
	{
		color: $white;
	}

	#about + p,
	em
	{
		display: inline;
	}
}

.mobile-menu-contact-text
{
	width: 100%;
	margin-top: 20px;
	z-index: 0;

	font-size: $body-text;
}

.menu-about-text
{
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 2rem;
	padding-right: 5rem;

	a
	{
		color: $black;
	}

	a.anchor
	{
		height: 1rem;
	}
	a[name=employment]
	{
		height: 3rem;
	}

	hr
	{
		border: none;
	}
}

.menu-about-nav
{
	flex-flow: row nowrap;

	position: fixed;
	bottom: $page-margin;
	left: 0;

	*
	{
		flex-flow: row nowrap;

		color: $black;
		text-decoration: none;

		&:hover:before,
		&.active-about:before
		{
			content: '';
			position: absolute;
			width: calc( 100% - 13px );
			height: 2px;
			bottom: 0;
			background-color: $black;
		}

		&:after
		{
			content: ',';
			margin-right: 5px;
		}

		&:first-child
		{
			margin-left: $page-margin;
		}

		&:last-child
		{
			&:before
			{
				content: '';
				width: calc(100% - 5px);
			}

			&:after
			{
				content: '';
			}
		}
	}
}

.mobile-about-text
{
	flex-order: 2;

	position: relative;
	padding-top: $page-margin;

	font-size: $subheader-text;

	.about-text-header:nth-child(2),
	em
	{
		display: inline;
	}
}


.about-text-header
{
	margin: $page-margin 0;

	&:first-child,
	em
	{
		display: inline;
		margin-top: 0;
	}
}

.menu-directive-wrapper
{
	@include respond-to ( 'medium' )
	{
		width: 350px;
		height: 100vh;
		top: 0;
		left: 0;
		padding: $page-margin;
		z-index: 50;
		// background-color: $white;

		&.hidden
		{
			opacity: 1 !important;
		}
	}
	@include respond-to ( 'small' )
	{
		overflow: scroll;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		padding: $page-margin;
		z-index: 50;
		background-color: $white;

		font-size: scale( $header-text, 50% );

		&.hidden
		{
			opacity: 1 !important;
		}
	}

	opacity: 1;
	position: fixed;
	width: 300px;
	z-index: 10;

	transition: opacity 1s ease;

	-webkit-overflow-scrolling: touch;
	&.hidden
	{
		opacity: 0;
	}
}

.white-menu
{
	@include respond-to( 'small' )
	{
		overflow-y: scroll;
		// Make sections 80vh for clickability of project titles
		height: 80vh;
		background-color: transparent;

		// Make 'About' section full height for info scrolling
		&.mobile-about-section-wrapper
		{
			height: 100vh;
		}
	}
	@include respond-to( 'medium' )
	{
		overflow-y: scroll;
		width: 100vw;

		&.mobile-about-section-wrapper
		{
			height: 100vh;
		}
	}

	color: $white;

	.search input
	{
		background: url( 'images/search-white.svg' ) no-repeat left center;
		background-size: 1em;

		color: $white;

		&:focus,
		&.has-text
		{
			border-bottom: 3px solid $white;
			background-position: center right;
		}
	}

	.sorting-option-title-wrapper.selected:after,
	.sorting-option-title-wrapper:hover:after
	{
		background: $white;
	}
}

.white-menu .section-title-inner
{
	padding: 0 4px;
	background: rgba(0,0,0,0.3);
}

.white-menu .sorting-option-title
{
	background: rgba(0,0,0,0.3);
}

.menu-section
{
	cursor: pointer;

	line-height: 1.03;
	letter-spacing: -2px;
	& + &
	{
		margin-top: 10px;
	}
}

.section-title-inner
{
	@include respond-to('small')
	{
		border-bottom: 2px solid transparent;

		line-height: 2.4rem;
	}

	border-bottom: 3px solid transparent;

	line-height: 3.125rem;
}

.section-title
{
	flex-flow: row;
	&.selected .section-title-inner,
	&:hover .section-title-inner
	{
		border-color: $black;
		.white-menu &
		{
			border-color: $white;
		}
	}
}

.news-highlight
{
	flex: none;

	display: inline;

	color: $yellow;

	&:hover,
	&.selected
	{
		.section-title-inner
		{
			border-bottom: 3px solid transparent !important;
		}
	}
}

.sorting-options
{
	flex-flow: row;

	font-size: $subheader-text;
	letter-spacing: 0;
}

.sorting-option-wrapper
{
	flex-flow: column;

	line-height: 1.2em;


	&:first-of-type .option-list,
	&:first-of-type .ghost-elements,
	.people-option-list
	{
		flex-flow: row;
	}

	&:first-of-type .ghost-elements .ghost-element,
	{
		display: none;

		&:first-of-type
		{
			display: block;
		}
	}

	.people-option-list
	{
		margin-bottom: 1rem;

		.ghost-element
		{
			display: none !important;
		}
	}

	&:last-of-type .sorting-option-title-wrapper .sorting-option-title:after
	{
		content: ',';
		visibility: hidden;
	}
}

.sorting-option-title-wrapper
{
	&.selected:after,
	&:hover:after
	{
		content: '';
		position: absolute;
		width: calc( 100% - 13px );
		height: 0.055em;
		right: 0;
		bottom: 0.05em;
		left: 0;
		background: $black;
	}
}

.sorting-option-title
{
	flex-flow: row;

	margin-right: 5px;

	&:after
	{
		content: ',';
		top: 0;
		right: -8px;
	}
}


.option-list-wrapper
{
	position: relative;
	margin: 5px 0;
}

.ghost-elements
{
	visibility: hidden;
	z-index: -1;

	font-size: 0.9rem;
}

.option-list
{
	position: absolute;
	top: 0;
	z-index: 1;

	font-size: $little-sorting-option;
	white-space: nowrap;
}

.option-list > .option,
.ghost-element
{
	line-height: 1rem;
}

.option-list-subsection,
.option p
{
	&.selected,
	&:hover
	{
		text-decoration: underline;
	}
}

.ghost-list
{
	visibility: hidden;
	z-index: -1;
}

.option-list-subsection
{
	margin-left: 15px;
}


// Mobile Styles
.mobile-menu-bar
{
	@include respond-to('medium')
	{
		display: none;
	}
	@include respond-to('small')
	{
		display: flex;
	}

	flex-flow: row;
	align-items: center;
	justify-content: space-between;

	position: fixed;
	height: 44px;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 10px;
	z-index: 5;
	background: $white;

	font-size: 1rem;
}

.mobile-menu-close
{
	@include respond-to( 'small' )
	{
		align-self: flex-end;

		display: flex;
		position: absolute;
		width: 40px;
		height: 40px;
		top: $page-margin;
		right: $page-margin;
		z-index: 9999999;
		background: url( 'images/trigger_black.svg' ) no-repeat center center;
		background-color: transparent;
	}

	display: none;
}

.search input
{
	cursor: pointer;
	max-width: 100%;
	outline: none;
	border: 0;
	background: url( 'images/search.svg' ) no-repeat left center;
	background-color: transparent;
	background-size: 1em;

	color: $black;
	font-size: 1em;
	font-family: 'Executive';

	transition: background 0.5s ease-in-out;

	&:focus,
	&.has-text
	{
		cursor: auto;
		padding-right: 1em;
		border-bottom: 3px solid $black;
		background-position: right center;
	}
}

a.twitter-link
{
	@include respond-to( 'small' )
	{
		display: none;
	}

	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 99999;

	.twitter-icon
	{
		opacity: 0.5;
		width: 3rem;
		height: 3rem;
	}
}

.grr *
{
	display: inline;
}
