menu-directive
{
	flex: 1 0 0;

	font-size: 3rem;
}

.menu-directive
{
	position: fixed;
}

.sorting-options
{
	flex-flow: row;

	font-size: 2rem;
}

.sorting-option
{
	flex-flow: column;

	&:first-of-type .option-list
	{
		flex-flow: row;
	}
}

.option-list
{
	flex-flow: column;

	font-size: 1rem;
}
