ul.menu-directive
	
	//- Big menu item
	li( ng-repeat='bigMenuItem in menuItems' ui-sref='root.section-state({section: bigMenuItem.url})' )
		| {{ bigMenuItem.title }}
	
		//- Filter options (Alphabetical, Year, Type)
		.filter-options( ng-if='stateParams.section == bigMenuItem.url' )
			.filter-option( ng-repeat='filterOption in bigMenuItem.filter' ng-click='toggleFilter( filterOption.title )' )
				| {{ filterOption.title }}, 
				
				//- Categories (Letters, Residential, etc)
				ul.option-list( ng-if='displayFilter == filterOption.title' ng-click='$event.stopPropagation(  )' )
					li( ng-repeat='littleFilterOption in filterOption.items' ui-sref='root.section-state({q: littleFilterOption.toLowerCase()})' )
						| {{ littleFilterOption }}