ul.menu-directive
	
	//- Big menu item
	li.menu-section( ng-repeat='bigMenuItem in menuItems' ui-sref='root.home-state( {section: bigMenuItem.url} )' )
		| {{ bigMenuItem.title }}
	
		//- sorting options (Alphabetical, Year, Type)
		.sorting-options( ng-if='stateParams.section == bigMenuItem.url' )
			.sorting-option( ng-repeat='sortingOption in bigMenuItem.sorting' ui-sref='root.section-state({section: bigMenuItem.url, sortingType: sortingOption.title.toLowerCase(), q: null})' ng-click=' $event.stopPropagation(  ) ' )
				| {{ sortingOption.title }}, 
				
				//- Categories (Letters, Residential, etc)
				ul.option-list( ng-if='stateParams.sortingType == sortingOption.title.toLowerCase(  )' ng-click='$event.stopPropagation(  )' )
					li( ng-repeat='littleSortingOption in sortingOption.items' ui-sref='root.section-state( {q: littleSortingOption.toLowerCase(  )} )' )
						| {{ littleSortingOption }}