.section-view
{
	flex-flow: column wrap;
	align-items: center;
	flex: 3 0 0;
}

.sub-sort:not( :last-child ):after
{
	content: '/';
}

.sub-sort-wrapper,
.sub-sort
{
	flex-flow: row;

	cursor: pointer;
}

.sub-sort-wrapper
{
	@include respond-to( 'small' )
	{
		display: none;
	}

	position: fixed;
	top: 4.5rem;
	right: 0;
	z-index: 999;

	font-size: $body-text;

	transform: rotate( 90deg );
}

.sub-sort:hover
{
	text-decoration: underline;
}

.active-sort
{
	text-decoration: underline;
}

.index-project-wrapper
{
	@include respond-to( 'small' )
	{
		justify-content: center;
	}

	flex-flow: row wrap;
	justify-content: flex-start;
}

.index-project
{
	@include respond-to( 'small' )
	{
		width: 310px;
		height: 310px;
		margin-right: 0;
	}

	flex-flow: column;
	justify-content: space-around;

	cursor: pointer;
	width: 250px;
	height: 280px;
	margin-right: 2rem;
}

.project-image
{
	flex: 3 0 0;

	overflow: hidden;
	background-position: center center;
	background-size: cover;
}

.project-title
{
	flex-flow: row wrap;
	flex: 1 0 0;

	margin-top: 0.5rem;

	font-style: italic;
}

.alt-index-project-wrapper
{
	@include respond-to( 'small' )
	{
		padding: 0;
	}

	overflow-x: hidden;
	min-width: 100%;
	padding: 0 $page-margin;

	font-size: $little-sorting-option;
}

.with-image
{
	max-width: calc( 100% - 100px ) !important;
}

.alt-index-project
{
	flex-flow: column;
	justify-content: center;

	overflow: visible;
	position: relative;
	cursor: pointer;
	min-height: 150px;
	padding: 1rem 0;
	border-bottom: 1px solid lighten($black, 90%);

	&:first-child
	{
		padding-top: 0;
	}
}

.alt-index-expand
{
	position: absolute;
	cursor: pointer;
	top: 50px;
	left: -30px;
}

.alt-project-title-and-image
{
	flex-flow: row nowrap;
	align-items: center;

	max-width: 100%;
	// flex: 1 0 0;
	margin-bottom: 0.5rem;

	&.expanded
	{
		align-items: flex-start;

		.alt-project-image
		{
			flex: 1 0 0;

			max-width: 200px;
			max-height: 200px;
		}

		.alt-title-and-expanded-wrapper
		{
			flex: 4 0 0;
		}
	}
}

.alt-project-title
{
	max-width: 100%;

	font-style: italic;
	font-size: $body-text;
}

.alt-project-image
{
	@include respond-to( 'small' )
	{
		max-width: 100px;
		max-height: 100px;
		margin-right: 10px;
	}

	max-width: 150px;
	max-height: 150px;
	margin-right: 10px;
	background-position: center left;
	background-size: contain;
	background-repeat: no-repeat;

	white-space: normal;
}

.alt-project-awarded
{
	flex-flow: row;
	align-items: center;
}

.alt-project-awarded-project
{
	flex-flow: row nowrap;

	cursor: pointer;
	border-bottom: 3px solid $yellow;

	line-height: 0.5rem;

	&:hover
	{
		background-color: $yellow;
	}

	&:after
	{
		content: ',';
		margin-right: 3px;
	}

	&:last-child:after
	{
		content: ' ';
	}
}

.alt-title-and-expanded-wrapper
{
	max-width: 100%;
}

.alt-project-expanded
{
	flex-flow: column wrap;
	align-items: flex-start;
	align-self: flex-start;
	align-content: flex-start;

	max-width: 100%;
}

.pdf-attachment
{
	flex-flow: row wrap;

	a
	{
		flex-flow: row wrap;

		&:before
		{
			content: '';
			width: 1rem;
			height: 1rem;
			background: url( 'images/file.svg' ) no-repeat center center;
			background-size: contain;
		}
	}
}

.location-index-wrapper
{
	@include respond-to( 'small' )
	{
		left: 0;
	}

	position: fixed;
	width: 100%;
	top: 0;
	// Firefox positioning fix
	left: 345px;
}

.angular-leaflet-map
{
	height: 100vh;
}

.map-image
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
}

a[href^='http://maps.google.com/maps']
{
	display: none !important;
}
a[href^='https://maps.google.com/maps']
{
	display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc
{
	display: none;
}
.gmnoprint div
{
	background: none !important;
}

.leaflet-popup
{
	width: 100px !important;
	height: 100px !important;
	bottom: -50px !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip
{
	width: 100px !important;
	height: 100px !important;
	padding: none;
	border-radius: initial;
	background: transparent;
	box-shadow: none;
}

.leaflet-popup-content
{
	width: initial;
	margin: 0;
}

.leaflet-popup-content
{
	margin: 0;

	.project-title
	{
		flex: none;

		width: 130px;
		top: -120px;
		left: -5px;
		margin-top: 0;
		padding: 3px;
		background-color: $yellow;

		font-size: $little-sorting-option;
		font-family: $executive-reg;
		line-height: 1;
	}
}
