.tile-index
{
	flex-flow: row wrap;
	align-content: space-around;
	justify-content: space-around;
	flex: 2 0 0;
}

.index-project-wrapper
{
	flex-flow: column;
	align-items: flex-end;

	width: 230px;
	height: 200px;
}

.project-image
{
	flex: 5 0 0;

	overflow: hidden;

	img
	{
		width: 100%;
	}
}

.project-title
{
	flex: 1 0 0;

	text-align: right;
}
