.section-view
{
	@include respond-to( 'small' )
	{
		max-width: 100vw;
	}

	flex-flow: column wrap;
	align-items: center;
	flex: 3 0 0%;
}

.prev-and-next-wrapper
{
	@include respond-to( 'small' )
	{
		padding: 0;
		padding-top: 1rem;
	}

	flex-flow: row;
	justify-content: center;

	width: 100%;
	padding: $page-margin;

	font-size: 0.7rem;
	text-transform: uppercase;

	.previous
	{
		position: absolute;
		left: 0;

		&:before
		{
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			left: -20px;
			background: url('images/angle-left_black.svg');
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	.next
	{
		@include respond-to( 'small' )
		{
			position: absolute;
			right: 0;
		}

		position: absolute;
		right: 0;

		&:after
		{
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			right: -20px;
			background: url('images/angle-right_black.svg');
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	.pagination
	{
		margin-top: 3px;
	}

	.page-number
	{
		margin-right: 5px;

		&:hover,
		&.current-page
		{
			text-decoration: underline;
		}
	}

	*
	{
		flex-flow: row nowrap;
		align-items: center;

		cursor: pointer;
	}
}

.sub-sort:not( :last-child ):after
{
	content: '/';
}

.sub-sort-wrapper,
.sub-sort
{
	flex-flow: row;

	cursor: pointer;
}

.sub-sort-wrapper
{
	@include respond-to( 'small' )
	{
		top: 0.5rem;
		right: 0.5rem;
		z-index: 5;

		transform: none;
	}
	@include respond-to( 'medium' )
	{
		top: 0.5rem;
		right: 0.5rem;
		z-index: 5;

		transform: none;
	}

	position: fixed;
	top: 4.5rem;
	right: 0;
	z-index: 999;

	font-size: $body-text;

	transform: rotate( 90deg );
}

.sub-sort:hover
{
	text-decoration: underline;
}

.active-sort
{
	text-decoration: underline;
}

.index-project-wrapper
{
	@include respond-to( 'medium' )
	{
		align-self: flex-end;
		justify-content: flex-end;

		width: 350px;
	}
	@include respond-to( 'medium-large' )
	{
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
		{
			justify-content: center;

			max-width: 700px !important;
		}
	}
	@include respond-to( 'small' )
	{
		align-self: center;
		justify-content: center;
	}

	flex-flow: row wrap;
	align-self: flex-start;
	justify-content: flex-start;

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	{
		justify-content: center;

		max-width: 1000px;
	}
}

.index-project
{
	@include respond-to( 'small' )
	{
		width: 90vw !important;
		height: 50vh !important;
		margin-right: 0;
	}
	@include respond-to( 'medium' )
	{
		width: 310px;
		height: 300px;
	}

	flex-flow: column;
	justify-content: space-around;

	cursor: pointer;
	width: 250px;
	height: 280px;
	margin-right: 2rem;
}

.project-image
{
	@include respond-to( 'small' )
	{
		flex: 4 0 0%;
	}

	flex: 3 0 0%;

	overflow: hidden;
	background-position: center center;
	background-size: cover;
}

.project-title
{
	flex-flow: row wrap;
	flex: 1 0 0%;

	margin-top: 0.5rem;

	font-style: italic;
}

.alt-index-project-wrapper
{
	@include respond-to('medium')
	{
		align-self: flex-end;

		width: 400px;
	}
	@include respond-to( 'small' )
	{
		width: 350px;
		margin-top: 44px;
		padding: 0;
	}

	overflow-x: hidden;
	width: 100%;
	padding: 0 $page-margin;

	font-size: $little-sorting-option;

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	{
		max-width: 100%;
	}
}

.alt-index-description
{
	margin-top: 0.5rem;
}

.clickable-alt
{
	cursor: pointer;

	.alt-project-title:hover
	{
		text-decoration: underline;
	}
}

.with-image
{
	@include respond-to( 'small' )
	{
		max-width: 70% !important;
	}

	max-width: 85% !important;
}

.project-title
{
	cursor: pointer;

	&:hover
	{
		text-decoration: underline;
	}
}

.leaflet-container
{
	background: white !important;
}

.leaflet-left .leaflet-control
{
	@include respond-to( 'small' )
	{
		margin-left: 1rem;
	}
}

.leaflet-top .leaflet-control
{
	@include respond-to( 'small' )
	{
		margin-top: 4rem;
	}
}

.leaflet-popup-close-button
{
	display: none;
}

.alt-index-project
{
	@include respond-to('medium')
	{
		align-items: flex-start;
		align-self: flex-start;
		justify-content: flex-start;
	}
	@include respond-to ( 'small' )
	{
		min-height: 100px;
	}

	justify-content: center;

	overflow: visible;
	position: relative;
	min-height: 150px;
	padding: $page-margin 0;
	border-bottom: 1px solid lighten($black, 90%);

	&:first-child
	{
		padding-top: 0;
	}
}

.alt-index-expand
{
	position: absolute;
	cursor: pointer;
	top: 40%;
	left: -20px;
}

.alt-project-title-and-image
{
	@include respond-to( 'small' )
	{
		max-width: 100%;
	}

	flex-flow: row nowrap;
	align-items: center;

	max-width: 85%;
	// margin-bottom: 0.5rem;

	&.expanded
	{
		display: inline-block;

		.alt-project-image
		{
			float: left;
			width: 150px;
		}

		.alt-title-and-expanded-wrapper
		{
			display: inline;
		}
	}
}

.alt-project-title
{
	display: block;
	max-width: 100%;
	margin-bottom: 0.5rem;

	font-style: italic;
	font-size: $body-text;
}

.alt-project-image
{
	@include respond-to( 'small' )
	{
		width: 75px;
		margin-right: 10px;
	}

	width: 100px;
	margin-right: 10px;
	background-position: center left;
	background-size: contain;
	background-repeat: no-repeat;

	white-space: normal;
}

.alt-project-awarded
{
	flex-flow: row wrap;
	align-items: center;
}

.alt-project-awarded-project
{
	flex-flow: row nowrap;

	cursor: pointer;

	text-decoration: underline;

	&:after
	{
		content: ',';
		margin-right: 3px;
	}

	&:last-child:after
	{
		content: ' ';
	}
}

.alt-title-and-expanded-wrapper
{
	@include respond-to( 'small' )
	{
		max-width: calc( 65% + 100px);
	}

	max-width: 100%;
}

.alt-project-expanded
{
	display: inline;
	max-width: 100%;
	& *
	{
		display: inline;
	}
}

.pdf-attachment
{
	flex-flow: row wrap;

	margin-left: 10px;

	a
	{
		flex-flow: row wrap;

		&:before
		{
			content: '';
			position: absolute;
			width: 1rem;
			height: 1rem;
			left: -15px;
			background: url( 'images/file.svg' ) no-repeat center center;
			background-size: contain;
		}
	}
}

.location-index-wrapper
{
	@include respond-to( 'medium' )
	{
		width: 450px;
		right: 0;
	}
	@include respond-to( 'small' )
	{
		left: 0;
	}

	position: fixed;
	width: 100%;
	top: 0;
	// Firefox positioning fix
	left: 345px;
}

.angular-leaflet-map
{
	height: 100vh;
}

.map-image
{
	width: $location-globe-size;
	height: $location-globe-size;
	border-radius: 50%;
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
}

a[href^='http://maps.google.com/maps']
{
	display: none !important;
}
a[href^='https://maps.google.com/maps']
{
	display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc
{
	display: none;
}
.gmnoprint div
{
	background: none !important;
}

.leaflet-popup
{
	cursor: pointer;
	width: $location-globe-size !important;
	height: $location-globe-size !important;
	bottom: -100px !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip
{
	width: $location-globe-size !important;
	height: $location-globe-size !important;
	padding: none;
	border-radius: initial;
	background: transparent;
	box-shadow: none;
}

.leaflet-popup-content
{
	width: initial;
	margin: 0;
}

.leaflet-popup-content
{
	margin: 0;

	.project-title
	{
		flex: none;

		width: 130px;
		top: -120px;
		left: -5px;
		margin-top: 0;
		padding: 3px;
		background-color: $yellow;

		font-size: $little-sorting-option;
		font-family: $executive-reg;
		line-height: 1;
	}
}

.marker-cluster
{
	background-color: $yellow !important;

	div
	{
		background-color: $yellow !important;

		span
		{
			font-family: $executive-reg;
		}
	}
}

.alt-project-metadata
{
	margin-top: 0.5rem;
}
