//- Project Modal
.project-modal( ui-view='project-content' )
	
.project-title( ng-repeat='project in projects | orderBy: stateParams.sortingType | sortingType: stateParams.sortingType:stateParams.q' ui-sref='root.section-state.project-state( { projectId: project.id } )' )
		| {{ project.title }}
