.project-title( ng-repeat='project in projects | orderBy: stateParams.sortingType' ui-sref='root.section-state.project-state( { projectId: project.id } )' ng-click='toggleActive( project )' )
		| {{ project.title }}

//- Project Modal
.project-modal( ui-view='project-content' )