//- Project Modal
.project-modal( ui-view='project-content' )

.sub-sort-wrapper
	.sub-sort
		| A-Z
	.sub-sort
		| Date

.index-project-wrapper
	.index-project(
		ng-repeat='item in indexContents | filter: { section: { title: stateParams.section.toUpperCase()} } | sortingType: stateParams.sortingType:stateParams.q | orderBy: "title"'
		ui-sref='root.section-state.project-state( { projectId: item.id } )'
	)
		.project-image-gradient
		.project-image
			img(src='{{item.image.name.url}}')

		.project-title
			| {{ item.title }}