.slideshow-directive-slides-wrapper
{
	position: fixed;
	top: 0;
	left: 0;
}

.slideshow-video,
.slideshow-image
{
	display: none;
	min-width: 100vw;
	min-height: 100vh;
}

.slide-project-title
{
	@include respond-to( 'small' )
	{
		margin: 2rem;

		font-size: $subheader-text;
	}

	display: none;
	position: fixed;
	cursor: pointer;
	bottom: 0;
	margin: 0 0 2rem 2rem;

	color: $white;
}

.current-slide
{
	display: block;
}

.slideshow-directive-buttons-wrapper
{
	@include respond-to( 'small' )
	{
		display: none;
	}

	flex-flow: row;

	position: fixed;
	bottom: 0;

	color: $white;
}
