.slideshow-directive-slides-wrapper
{
	position: absolute;
	top: -2rem;
	left: -2rem;
}

.slideshow-video,
.slideshow-image
{
	display: none;
	min-width: 100vw;
	min-height: 100vh;
}

.slideshow-image
{
	background-position: center center;
	background-size: cover;
}

.slide-project-title
{
	@include respond-to( 'small' )
	{
		margin: 2rem;

		font-size: $subheader-text;
	}

	position: fixed;
	cursor: pointer;
	bottom: 0;
	margin: 0 0 2rem 2rem;

	color: $white;

	&:hover
	{
		text-decoration: underline;
	}
}

.current-slide
{
	display: block;
}

.slideshow-directive-buttons-wrapper
{
	@include respond-to( 'small' )
	{
		display: none;
	}

	flex-flow: row;

	position: fixed;
	bottom: 1rem;
	left: 2rem;

	color: $white;
}

.slideshow-directive-button
{
	content: '';
	cursor: pointer;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 50%;
	background: rgba( $white, 0.6 );

	&.current-slide
	{
		background: rgba( $white, 1 );
	}
}
