.root-view
{
	flex-flow: column;

	height: 100%;
}

.menu-and-index-wrapper
{
	@include respond-to( 'small' )
	{
		padding: 1rem;
	}

	flex-flow: row;

	padding: $page-margin;

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	{
		overflow-x: hidden;
	}
}

.desktop-min-width
{
	&.menu-and-index-wrapper-wrapper
	{
		overflow-x: hidden;
	}

	.menu-and-index-wrapper
	{
		min-width: 950px;
	}

	menu-directive
	{
		width: 300px !important;
	}

	.menu-directive-wrapper
	{
		width: 300px !important;
		background-color: transparent !important;
	}

	.index-project-wrapper
	{
		justify-content: flex-start !important;
	}

	.index-project
	{
		width: 250px;
		height: 280px;
	}

	.sub-sort-wrapper
	{
		@media ( max-width: 935px )
		{
			display: none;
		}
	}
}

.black-background
{
	height: 100%;
	background-color: $black;

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	{
		background-color: transparent;
	}
}
