.root-view
{
	flex-flow: column;

	height: 100%;
}

.menu-and-index-wrapper
{
	@include respond-to( 'small' )
	{
		padding: 1rem;
	}

	flex-flow: row;

	min-width: 950px;
	padding: $page-margin;

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	{
		overflow-x: hidden;
	}
}


.black-background
{
	height: 100%;
	background-color: $black;

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	{
		background-color: transparent;
	}
}
