slideshow-directive(
	slides='homePageSlides'
	frame-rate='6000'
	ng-if='state.current.name == "root"'
)

.menu-and-index-wrapper

	menu-directive( ng-class='{ "black-background": stateName === "root" }' )
		
	.section-view( ui-view='section-view' )
