.menu-and-index-wrapper

	menu-directive
		
	.section-view( ui-view='section-view' )

	.sub-sort-wrapper( ng-if='"awards, media, type".indexOf( stateParams.sortingType ) != -1' )
		.sub-sort
			| A-Z
		.sub-sort
			| Date
