.menu-and-index-wrapper

	slideshow-directive(
		slides='homePageSlides'
		frame-rate='6000'
		vid='true'
		ng-if='stateName == "root"'
	)

	menu-directive.scrollable
		
	.section-view( ui-view='section-view' )
