.project-close-button
{
	@include respond-to( 'small' )
	{
		width: 40px;
		height: 40px;
	}

	position: fixed;
	cursor: pointer;
	width: 50px;
	height: 50px;
	top: $page-margin;
	right: $page-margin;
	z-index: 20;
	background: url('images/trigger_black.svg') no-repeat center center;
}

.project-page-wrapper
{
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background: $white;

	-webkit-overflow-scrolling: touch;
}

.project-page-header-image
{
	@include respond-to( 'small' )
	{
		position: relative;
		height: auto;
		height: 40vh;
	}

	align-items: center;
	align-content: center;
	justify-content: center;

	overflow: hidden;
	height: 85vh;

	img
	{
		@include respond-to( 'small' )
		{
			&.project-image
			{
				position: absolute;
				top: 0;
			}
		}

		width: 100vw;

		object-fit: contain;
	}
}

.project-page-content-wrapper
{
	margin: 2rem;
}

.project-page-header-text
{
	@include respond-to( 'small' )
	{
		font-size: $mobile-menu-text;
	}

	flex-flow: row wrap;

	font-size: 3.5rem;
}

.project-page-text-wrapper
{
	@include respond-to( 'small' )
	{
		flex-flow: column wrap;

		// padding: 0;
	}

	flex-flow: row;

	padding: 2rem 0;
}

.project-page-sidebar
{
	@include respond-to( 'small' )
	{
		order: 2;
		flex: auto;
	}

	flex: 1 0 0;

	padding-right: 2rem;
}

.project-page-main-text
{
	@include respond-to( 'small' )
	{
		order: 1;
		flex: auto;
	}

	flex: 3 0 0;

	padding-right: 1rem;
}

.project-overview
{
	padding-bottom: 2rem;

	font-size: $subheader-text;
}

.component .project-description-body
{
	margin-bottom: 2rem;
}

.project-description-header
{
	padding-bottom: 1rem;

	font-style: italic;
}

.project-description-body
{
	@include respond-to( 'small' )
	{
		column-count: auto;
	}
	// column-count: 2;

	flex-flow: row;

	display: block;

	em
	{
		flex-flow: row;
	}
}

.project-page-sidebar-header
{
	margin-bottom: 1rem;
	padding-top: 2rem;

	font-style: italic;

	&:first-child
	{
		padding-top: 0;
	}
}

.project-detail-wrapper
{
	flex-flow: column wrap;

	padding: 0.5rem 0;

	span,
	.project-detail-text,
	.project-detail-label
	{
		max-width: 100%;
	}
}

.project-detail-label
{
	margin-right: 5px;

	font-size: 0.7rem;
	text-transform: uppercase;
}

.project-detail-text
{
	flex-flow: row nowrap;

	cursor: pointer;

	&:hover
	{
		text-decoration: underline;
	}
}

.image-gallery-wrapper
{
	@include respond-to( 'small' )
	{
		order: 3;
	}

	margin: 2em 0;
}

.image-gallery-section-wrapper
{
	flex-flow: column;

	position: relative;
	height: 200px;
	margin-bottom: 1em;

	&:last-child
	{
		margin-bottom: 0;
	}

	h1
	{
		margin-bottom: 20px;

		font-style: italic;
		font-size: $body-text;
	}

	&:after
	{
		content: '';
		width: 20px;
		height: 150px;
		background: linear-gradient( to right, rgba( 255,255,255,0 ) 0%,rgba( 255,255,255,1 ) 100% );
	}
}

.image-gallery-section
{
	flex-flow: row nowrap;

	overflow-x: scroll;
	position: absolute;
	width: 100%;
	top: 37px;

	img
	{
		cursor: pointer;
		height: 150px;
		margin-right: 1em;
	}
}

.bibliography-item
{
	flex-flow: row;
}

.bibliography-title
{
	flex-flow: row;
}

.bibliography-image
{
	align-self: center;

	width: 100px;
	height: 100px;
	margin-right: 0.5rem;
	background-position: left center;
	background-size: contain;
	background-repeat: no-repeat;
}

.project-page-award
{
	margin-bottom: 10px;
}
