.project-page-wrapper

	.project-close-button(
		ng-click='closeProject(  )'
	)

	.project-page-header-image
		img( ng-src='{{activeProject.primary_image.name.url}}' )

	.project-page-content-wrapper

		.project-page-header-text
			| {{ activeProject.title }}

		.project-page-text-wrapper

			.project-page-sidebar

				//- Details
				.project-page-sidebar-header
					| Details
				.project-detail-wrapper( ng-if='activeProject.city || activeProject.country' )
					| Location: 
					span
						| {{ activeProject.city + ', '}} {{ activeProject.country }}
				.project-detail-wrapper( ng-if='activeProject.client' )
					| Client:
					span
						| {{ activeProject.client }}
				.project-detail-wrapper( ng-if='activeProject.site_area' )
					| Site Area: 
					span
						| {{ activeProject.site_area }}
				.project-detail-wrapper( ng-if='activeProject.size' )
					| Size:
					span
						| {{ activeProject.size }}
				
				//- Project Credits
				.project-page-sidebar-header
					| Project Credits

				.project-detail-wrapper( ng-repeat='(key, value) in activeProject.people | groupBy: "role_title"' )
					.project-detail-label
						| {{ key + ': '}}
					.project-detail-text( ng-repeat='role in value' ui-sref='root.section-state.project-state({ projectId: role.person.id })')
						| {{ role.person.name }}

			.project-page-main-text

				.project-overview(
					ng-if='activeProject.overview'
					ng-bind-html='activeProject.overview | htmlParse'
				)
					| {{ activeProject.overview }}

				.project-description-wrapper
					.project-description-header( ng-if='activeProject.description' )
						| Description
					.project-description-body( ng-bind-html='activeProject.description | htmlParse' )

				.image-gallery-wrapper
					.image-gallery-section-wrapper( ng-repeat='(key, value) in activeProject.galleries' )
						h1
							{{ key }}
						.image-gallery-section
							img( preload-image ng-repeat='image in value' ng-src='{{ image.name.thumb.url }}' )
					
