.project-page-wrapper

	.close( ui-sref='^' )
		| CLOSE

	.project-page-header-image
		img(src='http://morphopedia.com/uploads/MR5-ALA-REND-l.jpg')

	.project-page-content-wrapper

		.project-page-header-text
			| {{ activeProject.title }}

		.project-page-text-wrapper

			.project-page-details
				.project-page-detail-header
					| Details
				.project-detail
					| Location: 
					span
						| {{ dummyProject.city }}, {{ dummyProject.country }}
				.project-detail
					| Client:
					span
						| {{ dummyProject.client }}
				.project-detail
					| Site Area:
					span
						| {{ dummyProject.site_area }}
				.project-detail
					| Size:
					span
						| {{ dummyProject.size }}

			.project-page-main-text

				.project-overview
					| {{ dummyProject.overview }}

				.project-description-wrapper
					.project-description-header
						| Description
					.project-description-body
						| {{ dummyProject.description }}

				.main-image-gallery
					
